.parent{
    background-color: black;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color:white;
    border-radius: 10px;
}
.start, .center, .end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    gap: 40px;
}
.child{
    display: flex;
    text-transform: capitalize;
    font-size: larger;
}
.img{
    display: flex;
    gap: 20px;
    width: 50px;
    height: auto;
}
.start{
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;

}
.sign{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 2px;
}
.end{
    padding-right: 15px;
    gap:20px;
}